-- Enable necessary extensions
create extension if not exists "uuid-ossp";

-- Table: companies
create table public.companies (
  id uuid primary key default gen_random_uuid(),
  name text not null,
  logo_url text,
  created_at timestamptz default now()
);

-- Table: users
create table public.users (
  id uuid primary key references auth.users(id) on delete cascade,
  company_id uuid references public.companies(id) not null,
  login_id text unique not null,
  email text unique not null,
  role text not null check (role in ('admin', 'employee')),
  must_change_password boolean not null default true,
  created_at timestamptz default now()
);

-- Table: employees
create table public.employees (
  id uuid primary key default gen_random_uuid(),
  user_id uuid references public.users(id) not null unique,
  company_id uuid references public.companies(id) not null,
  full_name text not null,
  phone text,
  address text,
  avatar_url text,
  job_title text,
  department text,
  date_of_joining date not null,
  created_at timestamptz default now()
);

-- Table: attendance
create table public.attendance (
  id uuid primary key default gen_random_uuid(),
  employee_id uuid references public.employees(id) not null,
  company_id uuid references public.companies(id) not null,
  date date not null,
  check_in timestamptz,
  check_out timestamptz,
  status text check (status in ('present', 'absent', 'half-day', 'leave')),
  work_hours numeric,
  extra_hours numeric,
  unique (employee_id, date)
);

-- Table: leave_requests
create table public.leave_requests (
  id uuid primary key default gen_random_uuid(),
  employee_id uuid references public.employees(id) not null,
  company_id uuid references public.companies(id) not null,
  leave_type text check (leave_type in ('paid', 'sick', 'unpaid')),
  start_date date not null,
  end_date date not null,
  remarks text,
  attachment_url text,
  status text not null default 'pending' check (status in ('pending', 'approved', 'rejected')),
  reviewed_by uuid references public.users(id),
  created_at timestamptz default now()
);

-- Table: leave_balances
create table public.leave_balances (
  id uuid primary key default gen_random_uuid(),
  employee_id uuid references public.employees(id) not null,
  leave_type text check (leave_type in ('paid', 'sick', 'unpaid')),
  allocated_days numeric not null default 0,
  used_days numeric not null default 0,
  unique (employee_id, leave_type)
);

-- Table: salary_structures
create table public.salary_structures (
  id uuid primary key default gen_random_uuid(),
  employee_id uuid references public.employees(id) not null unique,
  company_id uuid references public.companies(id) not null,
  monthly_wage numeric not null default 0,
  basic numeric default 0,
  hra numeric default 0,
  standard_allowance numeric default 0,
  performance_bonus numeric default 0,
  travel_allowance numeric default 0,
  fixed_allowance numeric default 0,
  pf_rate numeric default 12,
  professional_tax numeric default 200,
  updated_at timestamptz default now()
);

-- Indexes
create index idx_users_company_id on public.users(company_id);
create index idx_employees_company_id on public.employees(company_id);
create index idx_attendance_company_id on public.attendance(company_id);
create index idx_attendance_employee_id on public.attendance(employee_id);
create index idx_attendance_date on public.attendance(date);
create index idx_leave_requests_company_id on public.leave_requests(company_id);
create index idx_leave_requests_employee_id on public.leave_requests(employee_id);
create index idx_leave_requests_status on public.leave_requests(status);
create index idx_leave_balances_employee_id on public.leave_balances(employee_id);
create index idx_salary_structures_company_id on public.salary_structures(company_id);

-- Enable RLS
alter table public.companies enable row level security;
alter table public.users enable row level security;
alter table public.employees enable row level security;
alter table public.attendance enable row level security;
alter table public.leave_requests enable row level security;
alter table public.leave_balances enable row level security;
alter table public.salary_structures enable row level security;

-- Storage setup for buckets
insert into storage.buckets (id, name, public) values ('company-logos', 'company-logos', true) on conflict do nothing;
insert into storage.buckets (id, name, public) values ('avatars', 'avatars', true) on conflict do nothing;
insert into storage.buckets (id, name, public) values ('leave-attachments', 'leave-attachments', false) on conflict do nothing;
-- RLS Helpers
create or replace function public.current_user_company_id()
returns uuid
language sql stable security definer
set search_path = public
as $$
  select company_id from users where id = auth.uid();
$$;

create or replace function public.current_user_role()
returns text
language sql stable security definer
set search_path = public
as $$
  select role from users where id = auth.uid();
$$;

create or replace function public.current_employee_id()
returns uuid
language sql stable security definer
set search_path = public
as $$
  select id from employees where user_id = auth.uid();
$$;

-- Companies Policies
create policy "Users can view their own company"
  on public.companies for select
  using (id = public.current_user_company_id());

create policy "Admins can update their own company"
  on public.companies for update
  using (id = public.current_user_company_id() and public.current_user_role() = 'admin');

-- Users Policies
create policy "Users can view users in their company"
  on public.users for select
  using (company_id = public.current_user_company_id());

create policy "Admins can insert users in their company"
  on public.users for insert
  with check (company_id = public.current_user_company_id() and public.current_user_role() = 'admin');

create policy "Admins can update users in their company"
  on public.users for update
  using (company_id = public.current_user_company_id() and public.current_user_role() = 'admin');

create policy "Users can update their own password requirement"
  on public.users for update
  using (id = auth.uid());

-- Employees Policies
create policy "Users can view employees in their company"
  on public.employees for select
  using (company_id = public.current_user_company_id());

create policy "Admins can insert employees in their company"
  on public.employees for insert
  with check (company_id = public.current_user_company_id() and public.current_user_role() = 'admin');

create policy "Admins can update employees in their company"
  on public.employees for update
  using (company_id = public.current_user_company_id() and public.current_user_role() = 'admin');

create policy "Employees can update their own specific fields"
  on public.employees for update
  using (user_id = auth.uid());

-- Attendance Policies
create policy "Admins can view attendance in their company"
  on public.attendance for select
  using (company_id = public.current_user_company_id() and public.current_user_role() = 'admin');

create policy "Employees can view their own attendance"
  on public.attendance for select
  using (employee_id = public.current_employee_id());

create policy "Employees can insert their own attendance"
  on public.attendance for insert
  with check (employee_id = public.current_employee_id() and company_id = public.current_user_company_id());

create policy "Employees can update their own attendance (checkout)"
  on public.attendance for update
  using (employee_id = public.current_employee_id());

create policy "Admins can update attendance in their company"
  on public.attendance for update
  using (company_id = public.current_user_company_id() and public.current_user_role() = 'admin');

-- Leave Requests Policies
create policy "Admins can view leave requests in their company"
  on public.leave_requests for select
  using (company_id = public.current_user_company_id() and public.current_user_role() = 'admin');

create policy "Employees can view their own leave requests"
  on public.leave_requests for select
  using (employee_id = public.current_employee_id());

create policy "Employees can insert their own leave requests"
  on public.leave_requests for insert
  with check (employee_id = public.current_employee_id() and company_id = public.current_user_company_id());

create policy "Admins can update leave requests in their company"
  on public.leave_requests for update
  using (company_id = public.current_user_company_id() and public.current_user_role() = 'admin');

-- Leave Balances Policies
create policy "Admins can view leave balances in their company"
  on public.leave_balances for select
  using (employee_id in (select id from public.employees where company_id = public.current_user_company_id()) and public.current_user_role() = 'admin');

create policy "Employees can view their own leave balances"
  on public.leave_balances for select
  using (employee_id = public.current_employee_id());

create policy "Admins can insert leave balances in their company"
  on public.leave_balances for insert
  with check (employee_id in (select id from public.employees where company_id = public.current_user_company_id()) and public.current_user_role() = 'admin');

create policy "Admins can update leave balances in their company"
  on public.leave_balances for update
  using (employee_id in (select id from public.employees where company_id = public.current_user_company_id()) and public.current_user_role() = 'admin');

-- Salary Structures Policies
create policy "Admins can view salary structures in their company"
  on public.salary_structures for select
  using (company_id = public.current_user_company_id() and public.current_user_role() = 'admin');

create policy "Employees can view their own salary structures"
  on public.salary_structures for select
  using (employee_id = public.current_employee_id());

create policy "Admins can insert salary structures in their company"
  on public.salary_structures for insert
  with check (company_id = public.current_user_company_id() and public.current_user_role() = 'admin');

create policy "Admins can update salary structures in their company"
  on public.salary_structures for update
  using (company_id = public.current_user_company_id() and public.current_user_role() = 'admin');
-- RPC to get email by login_id for authentication
create or replace function public.get_email_by_login_id(p_login_id text)
returns text
language sql
security definer
set search_path = public
as $$
  select email from public.users where login_id = p_login_id;
$$;
-- Storage RLS Policies

-- Company Logos: Anyone can view, authenticated users (admins) can upload
create policy "Public Access to Company Logos"
  on storage.objects for select
  using (bucket_id = 'company-logos');

create policy "Authenticated users can upload logos"
  on storage.objects for insert
  with check (bucket_id = 'company-logos' and auth.role() = 'authenticated');

create policy "Authenticated users can update logos"
  on storage.objects for update
  using (bucket_id = 'company-logos' and auth.role() = 'authenticated');

-- Avatars: Anyone can view, authenticated users can upload their own
create policy "Public Access to Avatars"
  on storage.objects for select
  using (bucket_id = 'avatars');

create policy "Authenticated users can upload avatars"
  on storage.objects for insert
  with check (bucket_id = 'avatars' and auth.role() = 'authenticated');

create policy "Authenticated users can update avatars"
  on storage.objects for update
  using (bucket_id = 'avatars' and auth.role() = 'authenticated');

-- Leave Attachments: Only authenticated users can view and upload
create policy "Authenticated users can view leave attachments"
  on storage.objects for select
  using (bucket_id = 'leave-attachments' and auth.role() = 'authenticated');

create policy "Authenticated users can upload leave attachments"
  on storage.objects for insert
  with check (bucket_id = 'leave-attachments' and auth.role() = 'authenticated');

create policy "Authenticated users can update leave attachments"
  on storage.objects for update
  using (bucket_id = 'leave-attachments' and auth.role() = 'authenticated');
